@import "tailwindcss";

:root {
  --background: #0A0E17;
  --foreground: #f8fafc;
}

body {
  background: var(--background);
  color: var(--foreground);
}

/* Custom Greyhound Trap 6 Stripes */
.striped-bg {
  background: repeating-linear-gradient(
    45deg,
    #000000,
    #000000 10px,
    #ffffff 10px,
    #ffffff 20px
  );
  color: #000 !important;
  text-shadow: 1px 1px 0px rgba(255,255,255,0.8), -1px -1px 0px rgba(255,255,255,0.8), 1px -1px 0px rgba(255,255,255,0.8), -1px 1px 0px rgba(255,255,255,0.8);
}
